{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-md-6"> {{ form(form) }}</div>
        <div class="col-md-6"><img src="{{ asset('upload/') }}{{ product.picture }}" alt=""></div>
    </div>
    

    

{% endblock %}

